<template>
    <div id="page-company">
        <div class="square">
            <vs-row>
                <vs-col w="8">
                    <h4><i class="fas fa-edit"></i> Cadastro de Empresa</h4>
                </vs-col>

                <vs-col w="4">
                    <img src="../../assets/images/logo-default.png" id="page-company__logo">
                </vs-col>
            </vs-row>


            <h3>Dados Gerais</h3>
            

            <div id="find-company-data">
                <vs-row align="flex-end" justify="center">
                    <vs-col w="4">
                        <div class="form-group" style="margin-bottom: 0;">
                            <label>*CNPJ: </label>
                            <input type="text" v-model="form.cad_cnpj" class="form-control" placeholder="Informe o CNPJ"> 
                        </div>
                    </vs-col>

                    <vs-col w="8">
                        <button class="btn-custom primary small" style="margin-left: 15px;" title="Buscar Dados"><i class="fas fa-search"></i></button>
                    </vs-col>
                </vs-row>
            </div>

            <vs-row>
                <vs-col w="4">
                    <div class="form-group">
                        <label>*Insc. Estadual (IE): </label>
                        <input type="text" v-model="form.inscricao_estadual" placeholder="Inscrição Estadual" class="form-control">
                    </div>
                </vs-col>
                    
                <vs-col w="4">
                    <div class="form-group">
                        <label>*Razão Social: </label>           
                        <input type="text" nv-model="form.n_razao" placeholder="Razão Social" class="form-control">
                    </div>
                </vs-col>

                <vs-col w="4">
                    <div class="form-group">
                        <label>*Nome Fantasia: </label>
                <input type="text" v-model="form.n_fantasia" placeholder="Nome Fantasia" class="form-control">
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="4">
                    <div class="form-group">
                        <label>Fone: </label>
                        <input type="text" v-model="form.fone" placeholder="Telefone" class="form-control">
                    </div>
                </vs-col>

                <vs-col w="8">
                    <div class="form-group">
                        <label>E-mail: </label>
                        <input type="text" v-model="form.email" placeholder="E-mail" class="form-control">
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w ="10">
                    <div class="form-group">
                         <label>*Endereço: </label>
                        <input type="text" v-model="form.endereco" placeholder="Informe o Endereço" class="form-control">
                    </div>
                </vs-col>

                <vs-col w="2">
                    <div class="form-group">
                        <label>*Núm: </label>
                        <input type="text" v-model="form.numero" placeholder="Número" class="form-control">
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="4">
                    <div class="form-group">
                         <label>*CEP: </label>
                        <input type="text" v-model="form.cep" placeholder="CEP" class="form-control">
                    </div>
                </vs-col>

                <vs-col w="4">
                    <div class="form-group">
                        <label>*Bairro: </label>
                        <input type="text" v-model="form.bairro" placeholder="Bairro" class="form-control">
                    </div>
                </vs-col>

                <vs-col w="4">
                    <div class="form-group">
                        <label>*Cidade: </label>
                        <input type="text" v-model="form.cidade" placeholder="Cidade" class="form-control">
                    </div>
                </vs-col>
            </vs-row>

            <h3>Dados Fiscais</h3>
      

            <vs-row>
                <vs-col w="5">
                    <div class="form-group">
                        <label>*Ramo Empresa: </label>
                        <select v-model="form.ramo_empresa" class="form-control">
                            <option value="1" selected>LOJA E COMÉRCIO</option>
                            <option value="2">OFICINA MECÂNICA</option>
                            <option value="3">MERCADO</option>
                            <option value="4">LOJA MATERIAL DE CONSTRUÇÃO</option>
                            <option value="5">BAR E RESTAURANTE</option>
                            <option value="6">DISTRIBUIDORA</option>
                            <option value="7">REVENDA</option>
                            <option value="8">SERVIÇOS EM GERAL</option>
                            <option value="9">FORNECEDOR</option>
                            <option value="10">LOJA ROUPAS</option>
                            <option value="11">LOJA E COMÉRCIO ALIMENTOS</option>
                            <option value="12">LOJA AGROPECUARIA</option>
                            <option value="13">PAPELARIA</option>
                            <option value="14">LOJA ACESSORIOS GERAL</option>
                            <option value="15">CLINICA</option>
                        </select>
                    </div>
                </vs-col>

                <vs-col w="5">
                    <div class="form-group">
                        <label>*C.R.T: </label>
                        <select v-model="form.crt" class="form-control">
                            <option value="1">1 - MEI</option>
                            <option value="2" selected>2 - SIMPLES NACIONAL</option>
                            <option value="3">3 - LUCRO REAL</option>
                            <option value="4">4 - LUCRO PRESUMIDO</option>
                        </select>
                    </div>
                </vs-col>

                <vs-col w="2">
                    <div class="form-group">
                        <label>(%) Aprov. ICMS: </label>
                        <input type="text" v-model="form.aprov_icms" class="form-control">
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="9">
                    <div class="form-group">
                        <label>Sub-Tipo de Atividade</label>
                        <select v-model="form.tipo_atividade" class="form-control">
                            <option value="1">OFICINA EM GERAL / MECÂNICA / MANUTENÇÃO DE MAQUINAS</option>
                            <option value="2">RESTAURANTE</option>
                            <option value="3">COMERCIOS EM GERAL</option>
                            <option value="4">INDÚSTRIA METAL / MECÂNICA</option>
                            <option value="5">USINAGEM</option>
                            <option value="6">ELETRO-ELETRÔNICA</option>
                            <option value="7">TRANSPORTADORA</option>
                            <option value="8">COMÉRCIO ATACADISTA E VAREJO</option>
                            <option value="9">ESPECIFICAMENTE OFICINA MECÂNICA</option>
                            <option value="10">ESPECIFICAMENTE PETSHOP</option>
                        </select>
                    </div>
                </vs-col>

                <vs-col w="3">
                    <div class="form-group">
                        <label>Tipo: </label>
                        <select v-model="form.tipo_empresa" class="form-control">
                            <option value="1">MATRIZ</option>
                            <option value="2">FILIAL</option>
                        </select>
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="12">
                    <router-link :to="{ name: 'setup.connection' }" class="btn-custom primary" style="margin-right: 15px; margin-top: 10px;">Anterior</router-link>
                    <router-link :to="{ name: 'setup.user' }" class="btn-custom primary">Próximo</router-link>
                </vs-col>
            </vs-row>
         </div>
    </div>
</template>

<script>
    export default {
        name: 'company',
        components: {},
        data () {
            return {
                isLoading: false,
                form: {}
            }
        },

        methods: {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/css/setup.scss';
    #page-company .square .vs-col {
        padding: 0 10px;
    }

    #page-company__logo {
        display: block;
        margin-bottom: 1.875rem;
        width: 100px;
        margin-left:11.875rem;
    }

    #find-company-data {
        margin-bottom: 3rem;
    }

    .square {
        max-height: 31.25rem;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    ::-webkit-scrollbar {
        width: 10px;
    }

    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }


    ::-webkit-scrollbar-thumb {
        background: #888;
    }


    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
