<template>
    <div id="page-connection">
        <div class="square">
            <vs-row>
                <vs-col w="8">
                    <h4><i class="fas fa-database"></i> Dados de Conexão</h4>
                </vs-col>

                <vs-col w="4">
                    <img src="../../assets/images/logo-default.png" id="page-connection__logo">
                </vs-col>
            </vs-row>
            
            <vs-row>
                <vs-col w="8">
                    <div class="form-group">
                        <label>URL de Conexão: </label>
                        <input type="text" class="form-control" placeholder="Informe a URL" v-model="form.url_connection">
                    </div>
                </vs-col>

                <vs-col w="4">
                        <button class="btn-custom primary small" style="margin-left: 15px; width: 13.5rem; margin-top: 1.625rem;" title="Testar Conexão">Testar Conexão</button>
                    </vs-col>
            </vs-row>
            <hr style="margin: 10px 0;">

            <vs-row>
                <vs-col w="6">
                    <div class="form-group">
                        <label>Chave de analytics sentry: </label>
                        <textarea class="form-control" v-model="form.key_sentry"></textarea>
                    </div>
                </vs-col>
             </vs-row>

            <vs-row>
                <vs-col w="6">
                    <div class="form-group">
                        <label>Chave de analytics smartlook: </label>
                        <textarea class="form-control" v-model="form.key_smartlook"></textarea>
                    </div>
                </vs-col>
            </vs-row>

            <router-link :to="{ name: 'setup.welcome' }" class="btn-custom primary" style="margin-right: 15px; margin-top: 10px;">Anterior</router-link>
            <router-link :to="{ name: 'setup.company' }" class="btn-custom primary" :disable="!form.url_connection || !form.key_sentry || !form.key_smartlook">Próximo</router-link>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'connection',
        components: {},
        data () {
            return {
                isLoading: false,
                form: {
                    url_connection: '',
                    key_sentry: '',
                    key_smartlook: ''
                }
            }
        },

        methods: {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/css/setup.scss';

    #page-connection__logo {
        display: block;
        margin-bottom: 1.875rem;
        width: 100px;
        margin-left:11.875rem;
    }

    textarea.form-control {
        height: 6.25rem !important;
        padding-top: 0.938rem !important;
        resize: none;
    }

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
