<template>
    <div id="page-user">
        <div class="square">   
            <vs-row>
                <vs-col w="8">
                    <h4><i class="fas fa-user"></i> Cadastro de Usuário</h4>
                </vs-col>

                <vs-col w="4">
                    <img src="../../assets/images/logo-default.png" id="page-user__logo">
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="4">
                    <div class="form-group">
                        <label>*Nome: </label>
                        <input type="text" class="form-control" placeholder="Nome Completo">
                    </div>
                </vs-col>

                <vs-col w="4">
                    <div class="form-group">
                        <label>*Nascimento: </label>
                        <input type="date" class="form-control" placeholder="Data de Nascimento">
                    </div>
                </vs-col>

                <vs-col w="4">
                    <div class="form-group">
                        <label>*Sexo: </label>
                        <select class="form-control">
                            <option value="1" selected>Masculino</option>
                            <option value="2">Feminino</option>
                        </select>
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="4">
                    <div class="form-group">
                        <label>Telefone: </label>
                        <input type="text" class="form-control" placeholder="Fone">
                    </div>
                </vs-col>

                <vs-col w="8">
                    <div class="form-group">
                        <label>*Login (E-mail): </label>
                        <input type="text" class="form-control" placeholder="E-mail" required>
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col w="6">
                    <div class="form-group">
                        <label>*Senha: </label>
                        <input type="password" class="form-control" placeholder="Senha">
                    </div>
                </vs-col>

                <vs-col w="6">
                    <div class="form-group">
                        <label>*Confirme a senha: </label>
                        <input type="password" class="form-control" placeholder="Confirme a senha">
                    </div>
                </vs-col>
            </vs-row>

            <hr>

            <vs-row>
                <vs-col w="12">
                    <router-link :to="{ name: 'setup.company' }" class="btn-custom primary" style="margin-right: 15px; margin-top: 10px;">Anterior</router-link>
                    <router-link :to="{ name: 'auth.login' }" class="btn-custom primary">Próximo</router-link>
                </vs-col>
            </vs-row>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'user',
        components: {},
        data () {
            return {
                isLoading: false
            }
        },

        methods: {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/css/setup.scss';
    #page-user .square .vs-col {
        padding: 0 10px;
    }

    #page-user__logo{
        display: block;
        margin-bottom: 1.875rem;
        width: 100px;
        margin-left:11.875rem;
    }

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
