<template>
    <div id="page-welcome">
        <div class="square">
            <vs-row>
                <vs-col w="12">
                    <img src="../../assets/images/logo-default.png" id="page-welcome__logo">
                </vs-col>
            </vs-row>

            <vs-row align="center" justify="center">
                <vs-col w="4">
                    <h1 class="main-title">Olá,<br><span>Seja Bem-Vindo!</span></h1>
                    <p class="main-paragraph">O ERP SejaVisto.digital é um sistema que atende a todos os processos 
                        empresariais que seu negócio necessita. 
                        Reduzindo custos, disponibilizando melhor acesso a
                        informações para tomadas de decisões e muito mais!
                    </p>
                    <router-link :to="{ name: 'setup.connection' }" class="btn-custom primary">Vamos nessa!</router-link>
                </vs-col>

                <vs-col w="8">
                    <img src="../../assets/images/hero-1.png" id="page-welcome__hero-1">
                </vs-col>
            </vs-row>    
        </div>
    </div>
</template>

<script>
    export default {
        name: 'welcome',
        components: {},
        data () {
            return {
                isLoading: false
            }
        },

        methods: {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/css/setup.scss';

    .square {
        #page-welcome__logo {
            display: block;
            margin-bottom: 1.875rem;
            width: 100px;
        }

        #page-welcome__hero-1 {
            width: 100%;
        }
    }
    

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
