<template>
    <div id="page-login">
        <vs-row>
            <vs-col>
                <div id="page-login__client-logo">
                    <img src="../../../public/images/logo.png">
                </div>
            </vs-col>
        </vs-row>

        <div id="page-login__form">
            <vs-row>
                <vs-col>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="Seu e-mail" v-model="form.email">
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Sua senha" v-model="form.password">
                    </div>
                </vs-col>
            </vs-row>

            <vs-row>
                <vs-col>
                    <div class="text-center">
                        <button class="btn-custom primary full">Fazer Login</button>
                    </div>
                </vs-col>
            </vs-row>

            <hr>

            <vs-row>
                <vs-col>
                    <div class="text-center">
                        <router-link to="#" class="other-link">Esqueci minha senha</router-link>
                    </div>
                </vs-col>
            </vs-row>
        </div>
    </div>
</template>

<script>
    import AuthService from '@/services/auth/auth'
    // import { ipcRenderer } from 'electron'

    export default {
        name: 'auth',
        components: {},
        data () {
            return {
                form: {},
                isLoading: false
            }
        },

        mounted () {
            if (this.$store.state.authenticated) {
                this.$router.push({ name: 'painel.dashboard' })
            }
        },

        methods: {
            async onSubmit () {
                try {
                    this.isLoading = true
                    let result = await AuthService.login(this.form)

                    if (result.status === 200) {
                        this.$store.dispatch('login', result.data)
                        this.$store.dispatch('user', { username: result.data.user })
                        this.$router.push({ name: 'painel.dashboard' })
                        // ipcRenderer.send('showFrame');                        
                        return
                    } else if (result.status === 422) {
                        for (const key in result.data.errors) {
                            if (result.data.errors[key]) {
                                throw Error(result.data.errors[key])
                            }
                        }
                        return
                    }

                    throw Error(result.data.message)
                } catch (e) {
                    this.isLoading = false
                    this.msgNotification(e.message, 'is-top-left', 'is-danger')
                } finally {
                    this.isLoading = false
                }
            }
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/css/unauthenticated.scss';

    @media (min-width: 576px) {}

    @media (min-width: 768px) {
        #page-login__client-logo {
            text-align: center;
            margin-bottom: 3rem;
            img {
                margin: 0 auto;
                max-width: 12.5rem;
            }
        }
    }

    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
</style>
