@import 'variables.scss';

html {
    background-color: #F2F5FA;
    overflow-y: scroll;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


*:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
}

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.button {
    &.is-blue {
        background: $primary;
        color: #FFFFFF;
        transition: 0.3s;
        border: none;
        &:hover {
            opacity: 0.8;
        }
    }
}

.form-group {
    label {
        font-size: 14px;
        font-weight: 700;
    }

    .form-control {
        width: 100%;
        height: 40px;
        display: block;
        color: #6b787b;
        border-radius: 4px;
        padding: 10px;
        &:focus { outline: none; }
        &.inverse {
            border: 1px solid #cfd4d8;
            background: none;
        }

        &.default {
            border: none;
            background: #FFFFFF;
            box-shadow: 0px 1px 1px rgb(0 0 0 / 13%);
        }
    }
}

.card-custom {
    width: 100%;
    display: block;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 13%);
}

.modal {
    z-index: 9999;
    .modal-card {
        margin: 0 auto !important;
    }
}

@media (min-width: 576px) {}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {
    .card-custom {
        padding: 15px;
        margin-bottom: 25px;
    }
}