@import 'variables.scss';
html {
    overflow: hidden;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 0.938rem;
    label {
        display: block;
        font-size: 0.938rem;
        margin-bottom: 0.625rem;
        font-weight: bold;
    }
    .form-control {
        width: -webkit-fill-available;
        height: 2.5rem;
        padding: 0 0.938rem;
        background-color: #eeeeee;
        border-radius: 0.25rem;
        border: 0;
        color: #363636;
    }
}

.square {
    h3 {
        text-align: left;
        margin-bottom: 1.875rem;
        border-bottom: 1px solid #ccc;
    }
    h4 {
        margin: 0;
    }
}

.other-link {
    color: $dark;
    opacity: 0.4;
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.loading-overlay {
    .loading-background {
        border-radius: 0.625rem;
    }
}

.btn-custom {
    border: 0;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s;
    padding: 0.938rem 2.5rem;
    text-decoration: none;
    display: inline-block;
    height: inherit;
    &:hover {
        opacity: 0.7;
    }
    &.full {
        height: 3.25rem;
        width: 100%;
        padding: 0;
    }
    &.small {
        padding: 0 2.5rem;
        height: 2.625rem;
    }
    &.primary {
        background: $primary;
        background: linear-gradient(90deg, $primary 12%, $secundary 100%);
        color: $white;
    }
}

.square {
    background: $white;
    border-radius: 0.313rem;
    padding: 1.875rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main-title {
    font-size: 2rem;
    font-weight: 300;
    color: $dark;
    span {
        font-weight: 900;
    }
}

.main-paragraph {
    display: block;
    font-size: 1rem;
    line-height: 1.50rem;
    margin-bottom: 2rem;
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}