@import 'variables.scss';
html {
    overflow: scroll;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.form-group {
    margin-bottom: 0.938rem;
    label {
        display: block;
        font-size: 0.938rem;
        margin-bottom: 0.625rem;
    }
    .form-control {
        width: -webkit-fill-available;
        height: 3.25rem;
        padding: 0 0.938rem;
        background-color: #eeeeee;
        border-radius: 0.25rem;
        border: 0;
        color: #363636;
    }
}

hr {
    background: $dark;
    border: 0;
    display: block;
    height: 0.063rem;
    margin: 3rem 1.5rem;
    opacity: 0.1;
    width: -webkit-fill-available;
}

.other-link {
    color: $dark;
    opacity: 0.4;
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.loading-overlay {
    .loading-background {
        border-radius: 0.625rem;
    }
}

.btn-custom {
    border: 0;
    border-radius: 0.25rem;
    height: 3.25rem;
    font-size: 1.2rem;
    font-weight: 500;
    transition: all 0.3s;
    &:hover {
        opacity: 0.7;
    }
    &.full {
        width: 100%;
    }
    &.primary {
        background: $primary;
        background: linear-gradient(90deg, $primary 12%, $secundary 100%);
        color: $white;
    }
}

@media (min-width: 576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}