<template>
    <div class="component-header">
        <span>{{ title }}</span>
    </div>
</template>

<script>
    // import AuthService from '@/services/auth/auth'

    export default {
        name: 'header-bar',
        components: {},
        props: ['title', 'icon'],
    }
</script>

<style lang="scss" scoped>
    @import '../assets/css/authenticated.scss';
    
    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
</style>
