<template>
    <div>
        <aside>
            <div id="authenticated__logo">
                <img src="../assets/images/logo-small-white.png">
            </div>

            <div id="authenticated__navigation">
                <ul>
                    <li v-for="(item, key) in navigation.menu" :key="key">
                        <vs-tooltip bottom>
                            <router-link :to="{ name: item.route }" v-bind:class="{ 'active': activeRoute === item.route }">
                                <i :class="`${item.icon}`"></i> 
                            </router-link>

                            <template #tooltip>
                                {{ item.name }}
                            </template>
                        </vs-tooltip>

                        <div class="submenu" v-if="item.submenu">
                            <h1><i :class="`${item.icon}`"></i>  {{ item.name }}</h1>

                            <ul>
                                <li v-for="(subitem, subkey) in item.submenu" :key="subkey">
                                    <router-link :to="{ name: subitem.route }" v-bind:class="{ 'active': activeRoute === subitem.route }">
                                        <i :class="`${subitem.icon}`"></i> {{ subitem.name }}
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>

        <div id="wrapper">
            <div id="authenticated__content">
                <transition name="slide-fade" mode="out-in">
                    <router-view></router-view>
                </transition>
            </div>
        </div>
    </div>
</template>

<script>
    import menu from '@/config/menu'

    export default {
        name: 'authenticated',
        components: {},
        data () {
            return {
                isLoading: false,
                navigation: menu,
                version: 'v' + this._.replace(this._.replace(JSON.stringify(require('../../package.json').version), '"', ''), '"', ''),
            }
        },

        computed: {
            // CHECK IF IS AUTHENTICATED
            authenticated () {
                return this.$store.state.authenticated || false
            },

            // GET USER DATA
            user () {
                return this.$store.state.user
            },

            // GET ACTIVE ROUTE NAME
            activeRoute () {
                return this.$route.name
            }
        },

        async mounted () {
            
        },

        methods: {    
            logout () {
                this.$store.dispatch('logout')
            }
        }
    }
</script>

<style lang="scss">
    @import '../assets/css/authenticated.scss';

    html {
        background-color: #F2EDF3 !important;
        overflow: hidden;
    }

    aside {
        background: $primary;
        background: linear-gradient(140deg, $primary 12%, $secundary 100%);
        height: 100%;
        position: fixed;
        width: 5rem;
        text-align: center;
        #authenticated__logo {
            display: block;
            padding: 1.875rem 1rem;
            img { width: 100%; }
        }

        #authenticated__navigation {
            ul {
                margin: 0;
                padding: 0;
                li {
                    display: block;
                    list-style-type: none;
                    margin-bottom: 0.063rem;
                    &:last-child { margin: 0; }
                    &:hover { .submenu { display: block; } }
                    a {
                        display: block;
                        color: $white;
                        padding: 0.938rem 0;
                        text-decoration: none;
                        transition: all 0.3s;
                        i { font-size: 1.375rem; }
                        &:hover, &.active {
                            background: rgba(255, 255, 255, 0.2);
                        }
                    }

                    .submenu {
                        background: $white;
                        box-shadow: 0 2px 7px rgba(0, 0, 0, 0.1);
                        display: none;
                        height: 100%;
                        left: 5rem;
                        padding: 0.938rem 1.5rem;
                        position: absolute;
                        top: 0;
                        width: 15.625rem;
                        h1 {
                            border-bottom: 1px solid $dark;
                            color: $dark;
                            font-size: 1rem;
                            margin-bottom: 1.875rem;
                            padding-bottom: 0.313rem;
                            text-align: left;
                            text-transform: uppercase;
                        }
                        ul {
                            text-align: left;
                            li {
                                a {
                                    color: $dark;
                                    transition: all 0.3s;
                                    &:hover { opacity: 0.5; }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #wrapper {
        margin-left: 5rem;
        padding: 1.875rem;
    }

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
