<template>
    <div>
        <vs-row align="center" justify="center">
            <vs-col w="3">
                <div id="setup__navigation">
                    <ul>
                        <li :class="(activeRoute === 'setup.welcome') ? 'active' : ''">Boas Vindas</li>
                        <li :class="(activeRoute === 'setup.connection') ? 'active' : ''">Dados de Conexão</li>
                        <li :class="(activeRoute === 'setup.company') ? 'active' : ''">Dados da Empresa</li>
                        <li :class="(activeRoute === 'setup.user') ? 'active' : ''">Cadastro de Usuário</li>
                        <li>Login</li>
                    </ul>
                </div>
            </vs-col>

            <vs-col w="9">
                <div id="setup__content">
                    <transition name="slide-fade" mode="out-in">
                        <router-view class="page-render"></router-view>
                    </transition>
                </div>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
    export default {
        name: 'authenticated',
        components: {},
        data () {
            return {
                isLoading: false,
                version: 'v' + this._.replace(this._.replace(JSON.stringify(require('../../package.json').version), '"', ''), '"', ''),
            }
        },

        computed: {
            // CHECK IF IS AUTHENTICATED
            authenticated () {
                return this.$store.state.authenticated || false
            },

            // GET USER DATA
            user () {
                return this.$store.state.user
            },

            // GET ACTIVE ROUTE NAME
            activeRoute () {
                return this.$route.name
            }
        },

        async mounted () {},

        methods: {  
            // 
        }
    }
</script>

<style lang="scss">
    @import '../assets/css/setup.scss';

    html {
        background-color: #F2EDF3 !important;
        overflow: hidden;
    }

    #setup__navigation {
        align-content: center;
        align-items: center;
        background: $secundary;
        display: flex;
        height: 100vh;
        justify-content: center;
        width: 100%;
        ul {
            margin: 0;
            padding: 0 2rem;
            text-align: right;
            width: 100%;
            li {
                border-bottom: 2px solid $white;
                color: $white;
                display: block;
                font-size: 0.875rem;
                font-weight: 600;
                list-style: none;
                margin: 0 0 35px 0;
                padding: 0 0 5px 0;
                text-transform: uppercase;
                opacity: 0.3;
                &.active { opacity: 1; }
                &:last-child { margin: 0; }
            }
        }
    }

    #setup__content {
        align-content: center;
        align-items: center;
        background: url("../assets/images/welcome-img.png") no-repeat right;
        background-size: cover;
        background-position-x: 5rem;
        display: flex;
        height: calc(100vh - 3.75rem);
        justify-content: center;
        padding: 1.875rem;
        .page-render { width: 100%; }
    }

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
