<template>
    <div id="layout-unauthenticated">
        <vs-row align="center" justify="center">
            <vs-col w="4">
                <div id="layout__page">
                    <transition name="slide-fade" mode="out-in">
                        <router-view></router-view>
                    </transition>
                </div>
            </vs-col>

            <vs-col w="8">
                <div id="layout__banner"></div>
            </vs-col>
        </vs-row>
    </div>
</template>

<script>
    import { checkSetup } from '@/utils/db'

    export default {
        name: 'unauthenticated',
        components: {},
        data () {
            return {
                version: 'v' + this._.replace(this._.replace(JSON.stringify(require('../../package.json').version), '"', ''), '"', '')
            }
        },

        mounted () {
            checkSetup().then(data => {
                if (data.length <= 0) {
                    this.$router.push({ name: 'setup.welcome' })
                }
            })
        },

        methods: {}
    }
</script>

<style lang="scss">
    @import '../assets/css/unauthenticated.scss';

    #layout-unauthenticated {
        #layout__page {
            padding: 0 4rem;
        }

        #layout__banner {
            display: block;
            background: url("../assets/images/banner.jpg") no-repeat center;
            background-size: cover;
            height: 100vh;
            width: 100%;
        }
    }

    @media (min-width: 312px) {}
    @media (min-width: 767px) {}
    @media (min-width: 991px) {}
    @media (min-width: 1200px) {}
</style>
