<template>
    <div id="page-financial">
        <sv-header title="Financeiro"></sv-header>
    </div>
</template>

<script>
    // import AuthService from '@/services/auth/auth'

    export default {
        name: 'financial',
        components: {},
        data () {
            return {
                form: {},
                isLoading: false
            }
        },

        mounted () {
            // if (!this.$store.state.authenticated) {
            //     this.$router.push({ name: 'auth.login' })
            // }
        },

        methods: {
        }
    }
</script>

<style lang="scss" scoped>
    @import '../../assets/css/authenticated.scss';

    @media (min-width: 576px) {}
    @media (min-width: 768px) {}
    @media (min-width: 992px) {}
    @media (min-width: 1200px) {}
</style>
